{{- with .Params.cover -}}
  {{- $scale := $.Params.coverScale | default $.Params.cover_scale | default 1 -}}
  {{- $offsetX := $.Params.coverOffsetX | default $.Params.cover_offset_x | default "50%" -}}
  {{- $offsetY := $.Params.coverOffsetY | default $.Params.cover_offset_y | default "50%" -}}
  {{- $style := printf "style=\"--project-cover-scale:%v;--project-cover-offset-x:%v;--project-cover-offset-y:%v;\"" $scale $offsetX $offsetY -}}
  <div class="project-cover-frame">
    <img class="project-cover-image" src="{{ . | relURL }}" alt="" {{ $style | safeHTMLAttr }} />
  </div>
{{- end -}}
