{{- $url := .Get "url" | default "#" -}}
{{- $text := .Get "text" | default "Button" -}}
{{- $variant := lower (.Get "variant" | default "primary") -}}
{{- if not (in (slice "primary" "secondary" "outline") $variant) -}}
  {{- $variant = "primary" -}}
{{- end -}}
{{- $size := lower (.Get "size" | default "md") -}}
{{- if not (in (slice "sm" "md" "lg") $size) -}}
  {{- $size = "md" -}}
{{- end -}}
{{- $linkAttrs := partial "link-attrs.html" (dict "url" $url "target" (.Get "target" | default "") "rel" (.Get "rel" | default "")) -}}
{{- $target := $linkAttrs.target -}}
{{- $rel := $linkAttrs.rel -}}
{{- $icon := .Get "icon" | default "" -}}

<a
  class="sc-btn sc-btn--{{ $variant }} sc-btn--{{ $size }}"
  href="{{ $url }}"
  target="{{ $target }}"
  {{- with $rel }} rel="{{ . }}"{{ end -}}
>
  {{- if $icon -}}
    {{ partial "shortcode-icon.html" (dict "name" $icon "class" "sc-btn__icon" "size" "1em") }}
  {{- end -}}
  <span>{{ $text }}</span>
</a>
