{{- $title := .Get "title" | default "Untitled" -}}
{{- $description := .Get "description" | default "" -}}
{{- $url := .Get "url" | default "#" -}}
{{- $icon := .Get "icon" | default "" -}}
{{- $linkAttrs := partial "link-attrs.html" (dict "url" $url "target" (.Get "target" | default "") "rel" (.Get "rel" | default "")) -}}
{{- $target := $linkAttrs.target -}}
{{- $rel := $linkAttrs.rel -}}

{{- $displayHost := $url -}}
{{- if or (hasPrefix $url "http://") (hasPrefix $url "https://") -}}
  {{- $displayHost = replaceRE "^https?://([^/]+).*$" "$1" $url -}}
{{- end -}}

{{- $iconResolved := partial "icon-resolve.html" (dict "icon" $icon "url" $url) -}}
{{- $iconImageSrc := $iconResolved.iconImageSrc -}}
{{- $iconName := $iconResolved.iconName -}}
{{- $iconFallbackAttr := $iconResolved.iconFallbackAttr -}}

<a
  class="sc-link-card"
  href="{{ $url }}"
  target="{{ $target }}"
  {{- with $rel }} rel="{{ . }}"{{ end -}}
>
  <span class="sc-link-card__media{{ if $iconImageSrc }} sc-link-card__media--image{{ end }}" aria-hidden="true">
    {{- if $iconImageSrc -}}
      <img src="{{ $iconImageSrc }}" alt="" loading="lazy" {{ with $iconFallbackAttr }}{{ . | safeHTMLAttr }}{{ end }} />
    {{- else if $iconName -}}
      {{ partial "shortcode-icon.html" (dict "name" $iconName "class" "sc-link-card__icon" "size" "1.15rem") }}
    {{- else -}}
      {{ partial "shortcode-icon.html" (dict "name" "link" "class" "sc-link-card__icon" "size" "1.15rem") }}
    {{- end -}}
  </span>
  <span class="sc-link-card__body">
    <span class="sc-link-card__title">{{ $title }}</span>
    {{- with $description -}}
      <span class="sc-link-card__description">{{ . }}</span>
    {{- end -}}
    <span class="sc-link-card__meta">{{ $displayHost }}</span>
  </span>
</a>
